@using Microsoft.AspNetCore.Mvc.Rendering
@using Sollicitatiebeheer.Web.Features.Vacatures
@model Index.Response
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <h3>Vacatures</h3>

    @Html.ActionLink("Toevoegen", "Toevoegen", "Vacatures", null, new { @class = "btn btn-default" })

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Vacaturenummer</th>
                <th>Afdeling</th>
                <th>Functie</th>
                <th>Omschrijving</th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            @foreach (var vacature in Model.Vacatures)
            {
                <tr>
                    <td>@vacature.Vacaturenummer</td>
                    <td>@vacature.Afdeling</td>
                    <td>@vacature.Functie</td>
                    <td>@vacature.Omschrijving</td>
                    <td><a href="@Url.Action("Verwijderen", "Vacatures", new Verwijderen.Request { Id = vacature.Id })" class="btn btn-sm btn-danger" title="Verwijderen"><i class="glyphicon glyphicon-trash"></i></a></td>
                </tr>
            }
        </tbody>
    </table>


    <hr />

    @if (Model.SorteerCode == "asc")
    {
        @Html.ActionLink("Sort descending", "Index", new Index.Request { SorteerCode = "desc" })
    }
    else
    {
        @Html.ActionLink("Sort ascending", "Index", new Index.Request { SorteerCode = "asc" })
    }
</div>
